.edit-form__field {
    height: 55px;
    width: 358px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
}