.pop-up__close {
    width: 32px;
    height: 32px;
    border-style: none;
    background-image: url(../../../images/icon.png);
    background-color: black;
}

.pop-up__close:hover {
    opacity: 0.6;
    cursor: pointer;
}