.elements__photoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    gap: 17px;
    max-width: 100%;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .elements__photoes {
    gap: 20px;
 }
}